---
import Greeting from './greeting.hbs';
import WeatherSummary from './weather-summary.js';
import isBirthday from '../utils/is-birthday.js'
---

<Greeting @name={{@user.name}} />
{{#if (isBirthday @user.dob)}}
  <p>Happy birthday!</p>
{{/if}}
<WeatherSummary />
